* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    color: white;
    text-decoration: none;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Economica', sans-serif;
    background: black url(/img/ruido.png);
    animation: ruido 0.5s steps(10) infinite;
}
header {
    position: absolute;
    margin-top: 1%;
    width: 100%;
}
header nav {
    position: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    animation-name: swip-bar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    width: 100%;
    z-index: 1;
}
ul {
    outline: none;
}
nav ul li {
    display: inline-block;
    margin-right: 15px;
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.2em;
}
nav ul li a {
    position: relative;
    font-weight: bold;
    color: white;
}
nav ul li a:hover {
    animation: wkup-nav 0.5s 0.2s forwards;
    color: white;
    text-decoration: none;
}
#principal {
    opacity: 0;
    animation-name: welcome;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
/* INICIO */

#home {
    height: 100%;
    width: 100%;
    font-family: 'Permanent Marker', cursive;
}
#home-content {
    height: 60%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: swip-home;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    text-align: center;
}
#home-content span {
    width: 90%;
    position: relative;
}
#home-content span p {
    font-weight: bold;
    font-size: 20vw;
    letter-spacing: 1vw;
    display: inline-block;
}
#home-content span #home-welcome {
    font-size: 9.5vw;
    opacity: 0;
    animation-name: welcome;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.circulo {
    width: 40px;
    height: 40px;
    display: block;
    position: inherit;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: white;
}
/* PERFIL */

#about-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
#about-text span:first-child {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 3.5em;
    margin-bottom: 3%;
    width: 100%;
}
#about-text span:last-child {
    font-size: 1.3em;
    width: 80%;
}
#about-image {
    display: flex;
    justify-content: center;
}
#about-image img {
    width: 100%;
    height: 100%;
}
/* SERVICIO TITULO */

#services-title {
    margin-top: 5vw;
    text-align: center;
}
#services-title span h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 5em;
}
#services-title span img {
    width: 100%;
    height: 100%;
}
/* SERVICIO CONTENIDO */

#services-content {
    width: 80%;
    margin-top: 4%;
}
#services-content span {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
#services-content span:first-child {
    border-right: 5px solid white;
    border-radius: 5px;
}
#services-content span:last-child {
    border-left: 5px solid white;
    border-radius: 5px;
}
#services-content span img {
    width: 50%;
}
#services-content span h1 {
    width: 100%;
    margin-top: 10%;
}
#services-content span p {
    width: 50%;
    font-size: 1.3em;
    margin-top: 5%;
}
/* Trabajos */

#jobs {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}
#jobs-titile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 3vw;
    margin-top: 6vw;
}
#jobs-content {
    width: 100%;
    height: 30vw;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(2, 50%);
    grid-row-gap: 5%;
    justify-content: center;
    margin-top: 3vw;
}
#jobs-content div {
    width: 95%;
    background: #457b9d;
    transition: background 0.5s;
    cursor: pointer;
}
#jobs-content div p {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#jobs-content p:hover {
    animation-name: welcome;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#jobs-content div:hover {
    background: transparent;
    outline: 1px solid white;
}
/* CONTACTO */

#contact {
    width: 100vw;
    height: 100vh;
    min-height: 800px;
    outline: 1px solid red;
    display: flex;
    flex-direction: column;
}
#contact-title {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#contact-title h1 {
    font-size: 2.1em;
}
#contact-title img {
    height: 50%;
    margin-left: 5%;
}
#contact-form {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
form {
    border: solid;
    border-radius: 5px;
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form h1 {
    margin-bottom: 7%;
}
input {
    width: 80%;
    height: 10%;
    outline: 1px solid black;
    margin: 2%;
    color: white;
    font-size: 1.2em;
    text-align: center;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
}
input:hover {
    border: 1px solid grey;
}
form span {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}
form span button {
    width: 39%;
    margin: 5px;
    cursor: pointer;
    background: transparent;
    font-weight: bold;
}
form span button:hover {
    border: 1px solid white;
    border-radius: 5px;
}
/* FOOTER */

#footer-content {
    border-top: 5px solid white;
}
#footer-content p {
    margin: 0;
}
#footer-content span {
    width: 7%;
    display: flex;
}
#footer-content span a {
    margin: 5%;
}
#footer-content span a img {
    width: 100%;
    height: 100%;
}
/* Animaciones */

@keyframes ruido {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 150% 150%;
    }
}
@keyframes swip-home {
    from {
        top: -100%;
    }
    to {
        top: 15%;
    }
}
@keyframes welcome {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes swip-bar {
    from {
        top: -20vh;
    }
    to {
        top: 0vh;
    }
}
@keyframes wkup-nav {
    0% {
        bottom: 0px;
    }
    50% {
        bottom: 4px;
    }
    100% {
        bottom: 0px;
    }
}
/* Media Queries  */

/* -------- Dispositivos moviles 480--------  */

@media screen and (max-width: 480px) {
    /*NAV*/
    header nav {
        justify-content: center;
        margin-top: 5%;
    }
    ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    nav ul li {
        margin-right: 0;
        font-size: 90%;
    }
    /*PEFIL*/
    #about-text {
        order: 2;
        margin-bottom: 5%;
    }
    #about-text span:first-child {
        font-size: 180%;
    }
    #about-text span:last-child {
        font-size: 100%;
    }
    #about-image {
        order: 1;
        margin-top: 20vw;
    }
    #about-image img {
        width: 50%;
        margin-bottom: 5%;
    }
    /*SERVICIOS*/
    #services-title {
        margin-top: 20%;
    }
    #services-title span:first-child {
        font-size: 3vw;
        order: 2;
    }
    #services-title span:last-child {
        height: 20vw;
        margin-bottom: 5%;
    }
    #services-content span {
        width: 100%;
        margin-top: 5%;
        padding-bottom: 5%;
        padding-top: 5%;
    }
    #services-content span:first-child {
        border-bottom: 5px solid white;
        border-right: none;
    }
    #services-content span:last-child {
        border-top: 5px solid white;
        border-left: none;
    }
    #services-content span p {
        width: 70%;
    }
    /*TRABAJOS*/
    #jobs-titile {
        font-size: 10vw;
        margin-top: 20vw;
    }
    #jobs-content {
        height: 100%;
        margin-top: 5vw;
        grid-template-columns: repeat(1, 70%);
        grid-template-rows: repeat(6, 100%);
        grid-row-gap: 0%;
    }
    #jobs-content div {
        width: 100%;
        margin-bottom: 10px;
    }
    /*CONTACTO*/
    #contact-title {
        margin-top: 20%;
        flex-direction: column;
    }
    #contact-title h1 {
        font-size: 2em;
    }
    #contact-title img {
        height: 40%;
        margin-left: 0%;
        margin-top: 5%;
    }
    /* FORMULARIO */
    form {
        width: 75%;
    }
    form h1 {
        margin-bottom: 7%;
    }
    input {
        font-size: 1em;
    }
    /* FOOTER */
    #footer-content span {
        width: 15%;
    }
    #footer-content span a img {
        width: 120%;
        height: 120%;
    }
}
/* 481px — 768px: iPads, Tablets */

@media (min-width: 481px) and (max-width:768px) {
    /* NAV */
    header nav {
        margin-top: 2%;
    }
    /*PEFIL*/
    #about {
        flex-direction: column;
    }
    #about-text {
        order: 2;
        margin-bottom: 10%;
    }
    #about-text span {
        width: 100%;
    }
    #about-text span:first-child {
        font-size: 350%;
    }
    #about-text span:last-child {
        font-size: 120%;
    }
    #about-image {
        width: 100%;
        display: flex;
        justify-content: center;
        order: 1;
        margin-top: 15vw;
    }
    #about-image img {
        width: 50%;
    }
    /*SERVICIOS*/
    #services-title {
        margin-top: 15%;
    }
    #services-title span:first-child {
        font-size: 2vw;
    }
    #services-title span:last-child {
        height: 12vw;
    }
    #services-content span {
        margin-top: 10%;
        padding-bottom: 5%;
        padding-top: 5%;
    }
    #services-content span:first-child {
        border-bottom: 5px solid white;
        border-right: none;
    }
    #services-content span:last-child {
        border-top: 5px solid white;
        border-left: none;
    }
    #services-content span p {
        width: 80%;
    }
    /*TRABAJOS*/
    #jobs-titile {
        font-size: 10vw;
        margin-top: 15vw;
    }
    #jobs-content {
        height: 300px;
        margin-top: 5vw;
        grid-template-columns: repeat(1, 80%);
        grid-template-rows: repeat(6, 100%);
    }
    #jobs-content div {
        width: 100%;
    }
    #jobs-content div:last-child {
        margin-bottom: 15px;
    }
    /* FORMULARIO */
    form {
        width: 75%;
    }
    form h1 {
        margin-bottom: 7%;
    }
    input {
        font-size: 1em;
    }
    /* FOOTER */
    #footer-content span {
        width: 15%;
    }
}
/* 769px — 1024px: Small screens, laptops */

@media (min-width: 769px) and (max-width:1024px) {
    #about-text span:last-child {
        font-size: 100%;
    }
}
/* 1025px — 1200px: Desktops, large screens */

@media (min-width: 1025px) and (max-width:1200px) {
    #about-text span:last-child {
        font-size: 200%;
    }
}
/* 769px — 1200px Desktops, large screens por defecto */

@media (min-width: 769px) and (max-width:1200px) {
    /*PEFIL*/
    #about {
        flex-direction: column;
    }
    #about-text {
        position: relative;
        order: 2;
        width: 80%;
        margin-bottom: 5%;
    }
    #about-text span {
        width: 100%;
    }
    #about-text span:first-child {
        font-size: 450%;
    }
    #about-text span:last-child {
        font-size: 200%;
    }
    #about-image {
        width: 100%;
        order: 1;
        margin-top: 7%;
    }
    #about-image img {
        width: 50%;
    }
    /*SERVICIOS*/
    #services-title {
        width: 90%;
        margin-top: 15%;
        justify-content: space-between;
    }
    #services-title span:first-child {
        font-size: 2vw;
    }
    #services-title span:last-child {
        height: 12vw;
    }
    #services-content span {
        margin-top: 5%;
        padding-bottom: 5%;
    }
    #services-content span:first-child {
        border-bottom: 5px solid white;
        border-right: none;
    }
    #services-content span:last-child {
        border-top: 5px solid white;
        border-left: none;
    }
    #services-content span p {
        width: 80%;
    }
    /*TRABAJOS*/
    #jobs-titile {
        font-size: 10vw;
        margin-top: 15vw;
    }
    #jobs-content {
        height: 300px;
        margin-top: 5vw;
        grid-template-columns: repeat(1, 80%);
        grid-template-rows: repeat(6, 100%);
    }
    #jobs-content div {
        width: 100%;
    }
    #jobs-content div:last-child {
        margin-bottom: 15px;
    }
    /* FORMULARIO */
    form {
        width: 75%;
    }
    form h1 {
        margin-bottom: 7%;
    }
    input {
        font-size: 1em;
    }
    /* FOOTER */
    #footer-content {
        width: 85%;
    }
    #footer-content span {
        width: 15%;
    }
}