* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    color: white;
    text-decoration: none;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Economica', sans-serif;
    background: black url(/img/ruido.png);
    animation: ruido 0.5s steps(10) infinite;
}
header {
    position: absolute;
    margin-top: 1%;
    width: 100vw;
}
header nav {
    position: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    animation-name: swip-bar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    width: 100vw;
    z-index: 1;
}
ul {
    outline: none;
}
nav ul li {
    display: inline-block;
    margin-right: 15px;
    font-family: 'Advent Pro', sans-serif;
}
nav ul li a {
    position: relative;
    font-weight: bold;
}
nav ul li a:hover {
    animation-name: wkup-nav;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
main {
    width: 100%;
    height: 100%;
}
#principal {
    opacity: 0;
    animation-name: welcome;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
/* INICIO */

#home {
    height: 100%;
    width: 100%;
    font-family: 'Permanent Marker', cursive;
    /* background: linear-gradient(90deg, rgba(241, 245, 252, 1) 50%, rgba(255, 119, 0, 1) 50%); */
}
#home-content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: swip-home;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    text-align: center;
}
#home-content span {
    position: relative;
    width: 90%;
}
#home-content span p {
    font-weight: bold;
    font-size: 20em;
    letter-spacing: 1vw;
    display: inline-block;
}
/*  #home-content span p:first-child {
    color: rgba(255, 119, 0, 1);
}*/

#home-content span #home-welcome {
    font-size: 8.5em;
    opacity: 0;
    animation-name: welcome;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.circulo {
    width: 40px;
    height: 40px;
    display: block;
    position: inherit;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: white;
}
/* PERFIL */

#about {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about-text {
    width: 60%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#about-text span {
    width: 60%;
}
#about-text span:first-child {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 3.9em;
}
#about-text span:last-child {
    font-size: 1.3em;
}
#about-image {
    width: 30%;
    display: flex;
    align-items: center;
}
/* SERVICIO TITULO */

#services {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#services-title {
    width: 70%;
    height: 20%;
    display: flex;
    text-align: center;
    justify-content: center;
}
#services-title span:first-child {
    width: 50%;
    font-family: 'Permanent Marker', cursive;
    font-size: 3.5em;
}
#services-title span:last-child {
    width: 30%;
}
#services-title span h1 {
    margin-top: 10%;
}
#services-title span img {
    width: 100%;
    height: 100%;
}
/* SERVICIO CONTENIDO */

#services-content {
    width: 70%;
    height: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 5%;
}
#services-content span {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 5%;
}
#services-content span:first-child {
    border-right: 5px solid white;
    border-radius: 5px;
}
#services-content span:last-child {
    border-left: 5px solid white;
    border-radius: 5px;
}
#services-content span img {
    width: 100%;
    height: 40%;
    margin-top: 10%;
}
#services-content h1 {
    width: 100%;
    height: 10%;
    margin-top: 5%;
}
#services-content p {
    width: 50%;
    height: 50%;
    font-size: 1.1em;
}
/* Trabajos */

#jobs {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#jobs-titile {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
}
#jobs-content {
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(2, 50%);
    grid-row-gap: 5%;
    justify-content: center;
    margin-top: 2%;
}
#jobs-content div {
    width: 95%;
    /* background: black url(/img/solid.jpg); */
    /* Comment */
    background: #457b9d;
    transition: background 0.5s;
    cursor: pointer;
}
#jobs-content div p {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#jobs-content p:hover {
    animation-name: welcome;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#jobs-content div:hover {
    background: transparent;
}
/* CONTACTO */

#contact {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#contact-title {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#contact-title h1 {
    font-size: 2.1em;
}
#contact-title img {
    height: 50%;
    margin-left: 5%;
}
#contact-form {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
form {
    border: solid;
    border-radius: 5px;
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form h1 {
    margin-bottom: 7%;
}
input {
    width: 80%;
    height: 10%;
    outline: 1px solid black;
    margin: 2%;
    color: white;
    font-size: 1.2em;
    text-align: center;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
}
input:hover {
    border: 1px solid grey;
}
form span {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}
form span button {
    width: 39%;
    margin: 5px;
    cursor: pointer;
    background: transparent;
    font-weight: bold;
}
form span button:hover {
    border: 1px solid white;
    border-radius: 5px;
}
/* FOOTER */

footer {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer div {
    width: 30vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 5px solid white;
}
footer div span {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer div span a {
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
footer div span a img {
    width: 100%;
    height: 100%;
}
/* Animaciones */

@keyframes ruido {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 150% 150%;
    }
}
@keyframes swip-home {
    from {
        top: -100%;
    }
    to {
        top: 15%;
    }
}
@keyframes welcome {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes swip-bar {
    from {
        top: -20vh;
    }
    to {
        top: 0vh;
    }
}
@keyframes wkup-nav {
    0% {
        bottom: 0px;
    }
    50% {
        bottom: 4px;
    }
    100% {
        bottom: 0px;
    }
}