@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  color: #fff;
  text-decoration: none; }

html {
  min-height: 100vh; }

body {
  width: 100%;
  height: 100%;
  font-family: "Economica", sans-serif;
  background: url("../../img/ruido.png") #000;
  animation: ruido 0.5s steps(10) infinite; }

#principal {
  opacity: 0;
  animation-name: welcome;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards; }

header {
  position: absolute;
  margin-top: 1%;
  width: 100%; }
  header nav {
    position: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    animation-name: swip-bar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    width: 100%;
    z-index: 2; }
    header nav ul {
      outline: none; }
      header nav ul li {
        display: inline-block;
        margin-right: 15px;
        font-family: "Advent Pro", sans-serif;
        font-size: 1.2em; }
        header nav ul li a {
          position: relative;
          padding-bottom: 5px;
          font-weight: bold;
          color: #fff;
          background-image: linear-gradient(currentColor, currentColor);
          background-position: 0% 100%;
          background-repeat: no-repeat;
          background-size: 0% 2px;
          transition: background-size .3s; }
        header nav ul li a:hover, header nav ul li a:focus {
          color: #fff;
          background-size: 100% 2px;
          text-decoration: none; }

#home {
  height: 100%;
  width: 100%; }
  #home #home-content {
    width: 100%;
    height: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: swip-home;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    text-align: center;
    font-family: 'Permanent Marker', cursive; }
    #home #home-content span {
      width: 100%;
      position: relative; }
      #home #home-content span p {
        width: 100%;
        font-weight: bold;
        font-size: 14em;
        letter-spacing: 1vw;
        display: inline-block; }
      #home #home-content span #home-welcome {
        font-size: 5.5vw;
        opacity: 0;
        animation-name: welcome;
        animation-duration: 1s;
        animation-delay: 2s;
        animation-fill-mode: forwards; }
  #home #home-img {
    width: 100%;
    height: 90%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
    animation-name: welcome;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards; }
    #home #home-img img {
      height: 35%; }

#about-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: justify; }
  #about-text span:first-child {
    text-align: center;
    font-family: "Permanent Marker", cursive;
    font-size: 3.5em;
    margin-bottom: 3%;
    width: 100%; }
  #about-text span:last-child {
    font-size: 1.3em;
    width: 80%; }

#about-image {
  display: flex;
  justify-content: center; }
  #about-image img {
    width: 90%;
    height: 90%; }

.skills-text {
  font-family: "Permanent Marker", cursive; }

.skills-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%; }
  .skills-image img {
    width: 40%;
    cursor: pointer; }

.modal-custom h2 {
  color: #000; }

.modal-custom p {
  color: #000;
  font-size: 1.3em; }

#services-title {
  text-align: center; }
  #services-title span h1 {
    font-family: "Permanent Marker", cursive;
    font-size: 5em; }

#services-content {
  width: 70%;
  margin-bottom: 10%; }
  #services-content span {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%; }
  #services-content span:first-child {
    border-right: 5px solid #fff;
    border-radius: 5px; }
  #services-content span:last-child {
    border-left: 5px solid #fff;
    border-radius: 5px; }
  #services-content span img {
    width: 50%;
    height: 50%; }
  #services-content span h2 {
    width: 100%;
    margin-top: 5%; }
  #services-content span p {
    width: 60%;
    margin-top: 5%;
    font-size: 120%; }

#service-commit {
  border-top: 4px solid #fff;
  border-radius: 2px;
  width: 75%; }
  #service-commit span {
    margin-top: 5%; }

#jobs-titile {
  font-family: "Permanent Marker", cursive; }
  #jobs-titile h1 {
    font-size: 5vw; }

.jobs-content {
  width: 50vw;
  height: 50vh;
  cursor: pointer; }
  .jobs-content span {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around; }
    .jobs-content span p {
      font-size: 1.4em;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      padding-top: 2em;
      padding-bottom: 2em; }
    .jobs-content span a {
      color: #fff;
      text-decoration: none;
      padding: 0.5em; }
    .jobs-content span a:hover {
      outline: 1px solid #fff; }
  .jobs-content span:hover {
    animation-name: welcome;
    animation-duration: 4s;
    animation-fill-mode: forwards; }

#fondo-1 {
  width: 100%;
  height: 100%;
  background: url("/img/proyecto1.jpg");
  background-size: cover; }

#fondo-2 {
  width: 100%;
  height: 100%;
  background: url("/img/proyecto2.jpg");
  background-size: cover; }

#fondo-3 {
  width: 100%;
  height: 100%;
  background: url("/img/proyecto3.jpg");
  background-size: cover; }

#fondo-1:hover {
  background: transparent;
  border: 1px solid #fff; }

#fondo-2:hover {
  background: transparent;
  border: 1px solid #fff; }

#fondo-3:hover {
  background: transparent;
  border: 1px solid #fff; }

#contact {
  min-height: 720px; }

#contact-title {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  #contact-title h1 {
    font-size: 2.1em; }
  #contact-title img {
    height: 50%;
    margin-left: 5%; }

#contact-form {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000; }

form {
  border: solid;
  border-radius: 5px;
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  form h1 {
    margin-bottom: 7%; }
  form span {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center; }
    form span button {
      width: 39%;
      margin: 5px;
      cursor: pointer;
      background: transparent;
      font-weight: bold; }
    form span button:hover {
      border: 1px solid #fff;
      border-radius: 5px; }

input {
  width: 80%;
  height: 10%;
  outline: 1px solid #000;
  margin: 2%;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px; }

input:hover {
  border: 1px solid rgba(255, 255, 255, 0.7); }

#footer-content {
  border-top: 5px solid #fff;
  z-index: 1; }
  #footer-content p {
    margin: 0; }
  #footer-content span {
    width: 7%;
    display: flex; }
    #footer-content span a {
      margin: 5%; }
      #footer-content span a img {
        width: 100%;
        height: 100%; }

@keyframes ruido {
  from {
    background-position: 0 0; }
  to {
    background-position: 150% 150%; } }

@keyframes swip-home {
  from {
    top: -100%; }
  to {
    top: 2%; } }

@keyframes welcome {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes swip-bar {
  from {
    top: -20vh; }
  to {
    top: 0vh; } }

@keyframes wkup-nav {
  from {
    border-bottom: 0px solid #fff; }
  to {
    border-bottom: 1px solid #fff; } }

/* -------- Dispositivos moviles 480--------  */
@media screen and (max-width: 480px) {
  /*NAV*/
  header nav {
    justify-content: center;
    margin-top: 5%; }
    header nav ul {
      display: flex;
      justify-content: space-around;
      width: 100%; }
      header nav ul li {
        margin-right: 0;
        font-size: 90%; }
  /* HOME */
  #home #home-content span p {
    font-size: 5em; }
  #home #home-content span #home-welcome {
    font-size: 2.5em; }
  #home #home-img {
    height: 70%; }
    #home #home-img img {
      height: 28%; }
  /*PEFIL*/
  #about-text {
    order: 2;
    margin-bottom: 5%; }
    #about-text span:first-child {
      font-size: 180%;
      width: 100%; }
    #about-text span:last-child {
      font-size: 100%;
      width: 100%; }
  #about-image {
    order: 1;
    margin-top: 20vw; }
    #about-image img {
      width: 50%;
      margin-bottom: 5%; }
  .skills-image img {
    width: 60%; }
  /*SERVICIOS*/
  #services-title {
    margin-top: 20%;
    font-size: 3vw; }
  #services-content div span p {
    width: 80%; }
  #services-content div span img {
    margin-top: 10%; }
  #services-content div span:first-child {
    border-bottom: 5px solid #fff;
    border-right: none; }
  #services-content div span:last-child {
    border-top: 5px solid #fff;
    border-left: none; }
  /*TRABAJOS*/
  #jobs-titile h1 {
    font-size: 10vw;
    margin-top: 10vw; }
  .jobs-content {
    width: 70vw; }
    .jobs-content span h2 {
      font-size: 1.5em; }
    .jobs-content span p {
      font-size: 1em;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff; }
  /*CONTACTO*/
  #contact-title {
    margin-top: 20%;
    flex-direction: column; }
  #contact-title h1 {
    font-size: 2em; }
  #contact-title img {
    height: 40%;
    margin-left: 0%;
    margin-top: 5%; }
  /* FORMULARIO */
  form {
    width: 75%; }
    form h1 {
      margin-bottom: 7%; }
  input {
    font-size: 1em; }
  /* FOOTER */
  #footer-main {
    margin-bottom: 2%; }
  #footer-content span {
    width: 50%; }
    #footer-content span a {
      margin-right: 10%; }
      #footer-content span a img {
        width: 120%;
        height: 120%; } }

/* 481px — 768px: iPads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  /* NAV */
  header nav {
    margin-top: 2%; }
  /* HOME */
  #home #home-content span p {
    font-size: 7em; }
  #home #home-content span #home-welcome {
    font-size: 3.5em; }
  #home #home-img {
    height: 70%; }
    #home #home-img img {
      height: 30%; }
  /*PEFIL*/
  #about {
    flex-direction: column; }
  #about-text {
    order: 2;
    margin-bottom: 5%; }
    #about-text span {
      width: 100%; }
    #about-text span:first-child {
      font-size: 350%; }
    #about-text span:last-child {
      font-size: 120%; }
  #about-image {
    width: 100%;
    display: flex;
    justify-content: center;
    order: 1;
    margin-top: 15vw;
    margin-bottom: 5vw; }
    #about-image img {
      width: 50%; }
  .skills-image img {
    width: 60%; }
  /*SERVICIOS*/
  #services-title {
    margin-top: 15%; }
  #services-content div span {
    margin-top: 10%; }
    #services-content div span img {
      width: 30%; }
  #services-content div span:first-child {
    border-bottom: 5px solid #fff;
    border-right: none;
    padding-bottom: 5%; }
  #services-content div span:last-child {
    border-top: 5px solid #fff;
    border-left: none;
    padding-top: 5%; }
  #services-content div p {
    width: 90%; }
  /*TRABAJOS*/
  #jobs-titile h1 {
    font-size: 10vw;
    margin-top: 10vw; }
  .jobs-content {
    width: 70vw; }
  /* FORMULARIO */
  form {
    width: 75%; }
    form h1 {
      margin-bottom: 7%; }
  input {
    font-size: 1em; }
  /* FOOTER */
  #footer-main {
    margin-top: 5%;
    margin-bottom: 1%; }
  #footer-content span {
    width: 20%; }
    #footer-content span a {
      margin-right: 5%; } }

/* 769px — 1024px: Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  #about-text span:last-child {
    font-size: 100%; } }

/* 1025px — 1200px: Desktops, large screens */
@media (min-width: 1025px) and (max-width: 1200px) {
  #about-text span:last-child {
    font-size: 200%; } }

/* 769px — 1200px Desktops, large screens por defecto */
@media (min-width: 769px) and (max-width: 1200px) {
  /* HOME */
  #home #home-content span p {
    font-size: 15em; }
  #home #home-content span #home-welcome {
    font-size: 7em; }
  #home #home-img {
    height: 75%; }
    #home #home-img img {
      height: 30%; }
  /*PEFIL*/
  #about {
    flex-direction: column; }
  #about-text {
    position: relative;
    order: 2;
    width: 80%;
    margin-bottom: 5%; }
    #about-text span {
      width: 100%; }
    #about-text span:first-child {
      font-size: 450%; }
    #about-text span:last-child {
      font-size: 200%; }
  #about-image {
    width: 100%;
    order: 1;
    margin-top: 10%;
    margin-bottom: 5%; }
    #about-image img {
      width: 50%; }
  /*SERVICIOS*/
  #services-title {
    width: 90%;
    margin-top: 15%;
    font-size: 2vw;
    justify-content: space-between; }
  #services-content div span {
    margin-top: 5%; }
    #services-content div span img {
      width: 25%; }
  #services-content div span:first-child {
    border-bottom: 5px solid #fff;
    border-right: none;
    padding-bottom: 5%; }
  #services-content div span:last-child {
    border-top: 5px solid #fff;
    border-left: none;
    padding-top: 5%;
    padding-bottom: 5%; }
  #services-content div p {
    width: 90%;
    font-size: 1.5em; }
  /*TRABAJOS*/
  #jobs-titile {
    margin-top: 5%; }
    #jobs-titile h1 {
      font-size: 10vw; }
  .jobs-content {
    width: 60vw; }
  /* FORMULARIO */
  form {
    width: 75%; }
    form h1 {
      margin-bottom: 7%; }
  input {
    font-size: 1em; }
  /* FOOTER */
  #footer-content span {
    width: 15%; } }
