@import 'layout/base';
@import 'layout/nav';

@import 'views/home';
@import 'views/profile';
@import 'views/services';
@import 'views/jobs';
@import 'views/contact';

@import 'layout/froms';
@import 'layout/footer';

@import 'utilities/animations';
@import 'utilities/responsive';
