@import '../base/colors';


@keyframes ruido {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 150% 150%;
    }
}
@keyframes swip-home {
    from {
        top: -100%;
    }
    to {
        top: 2%;
    }
}
@keyframes welcome {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes swip-bar {
    from {
        top: -20vh;
    }
    to {
        top: 0vh;
    }
}


@keyframes wkup-nav {
    from {
        border-bottom: 0px solid $color-fonts;
    }
    to {
        border-bottom: 1px solid $color-fonts;
    }
}
