@import '../base/colors';
@import '../base/fonts';
@import '../base/variables';

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    color: $color-fonts;
    text-decoration: none;
}

html{
    min-height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    font-family: $font-base;
    background: url($imagen-fondo) $color-base;
    animation: ruido 0.5s steps(10) infinite;
}

#principal {
    opacity: 0;
    animation-name: welcome;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}