@import '../base/colors';

#footer-content {
    border-top: 5px solid $color-fonts;

    p {
        margin: 0;
    }

    span {
        width: 7%;
        display: flex;

        a {
            margin: 5%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
