@import '../base/colors';

form {
    border: solid;
    border-radius: 5px;
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
        margin-bottom: 7%;
    }
    
    span {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;

        button {
            width: 39%;
            margin: 5px;
            cursor: pointer;
            background: transparent;
            font-weight: bold;
        }

        button:hover {
            border: 1px solid $color-fonts;
            border-radius: 5px;
        }
    }
}

input {
    width: 80%;
    height: 10%;
    outline: 1px solid $color-base;
    margin: 2%;
    color: $color-fonts;
    font-size: 1.2em;
    text-align: center;
    background: transparent;
    border: 1px solid $color-fonts;
    border-radius: 5px;
}
input:hover {
    border: 1px solid $color-fondo;
}
