@import '../base/colors';
@import '../base/fonts';

#home {
    height: 100%;
    width: 100%;

    #home-content {
        width: 100%;
        height: 50%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        animation-name: swip-home;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
        text-align: center;
        font-family: 'Permanent Marker', cursive;
    
        span {
            width: 100%;
            position: relative;
    
            p {
                width: 100%;
                font-weight: bold;
                font-size: 14em;
                letter-spacing: 1vw;
                display: inline-block;
            }
    
            #home-welcome {
                font-size: 5.5vw;
                opacity: 0;
                animation-name: welcome;
                animation-duration: 1s;
                animation-delay: 2s;
                animation-fill-mode: forwards;
            }
        }
    }

    #home-img{
        width: 100%;
        height: 90%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        opacity: 0;
        animation-name: welcome;
        animation-duration: 1s;
        animation-delay: 3s;
        animation-fill-mode: forwards;

        img{
            height: 35%;
        };
    }



}
