@import '../base/colors';
@import '../base/fonts';

#home {
    height: 100%;
    width: 100%;
    font-family: 'Permanent Marker', cursive;
}
#home-content {
    height: 60%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: swip-home;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    text-align: center;

    span {
        width: 90%;
        position: relative;

        p {
            font-weight: bold;
            font-size: 20vw;
            letter-spacing: 1vw;
            display: inline-block;
        }

        #home-welcome {
            font-size: 9.5vw;
            opacity: 0;
            animation-name: welcome;
            animation-duration: 1s;
            animation-delay: 2s;
            animation-fill-mode: forwards;
        }
    }
}
