@import '../base/colors';
@import '../base/fonts';

#jobs-titile {
    font-family: $font-page;
    
    h1 {
        font-size: 5vw;
    }
}
.jobs-content {
    width: 50vw;
    height: 50vh;
    background: $color-fondo;
    transition: background 0.5s;
    cursor: pointer;
    
    span{
        opacity: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;   
        align-items: center;
        text-align: center;
        justify-content: space-around;

        p{
            font-size: 1.4em;
            border-top: 1px solid $color-fonts;
            border-bottom: 1px solid $color-fonts;
            padding-top: 2em;
            padding-bottom: 2em;
        }

        a{
            color: $color-fonts;
            text-decoration: none;
            padding: 0.5em;
        }

        a:hover{
            outline: 1px solid $color-fonts;
        }
       
    }

    span:hover {
        animation-name: welcome;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}

.jobs-content:hover {
    background: transparent;
    border: 1px solid $color-fonts;
}
