@import '../base/fonts';

#about-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: justify;

    span:first-child {
        text-align: center;
        font-family: $font-page;
        font-size: 3.5em;
        margin-bottom: 3%;
        width: 100%;
    }

    span:last-child {
        font-size: 1.3em;
        width: 80%;
    }
}

#about-image {
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        height: 100%;
    }
}


.skills-text{
    font-family: $font-page;
}

.skills-image{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
   

    img{
        width: 40%;
        cursor: pointer;   
    }
}

.modal-custom{
    h2 {
        color: $color-base;
    }
    p {
        color: $color-base;
        font-size: 1.3em;
    }
   
}