@import '../base/fonts';
@import '../base/colors';

#services-title {
    text-align: center;

    span h1 {
        font-family: $font-page;
        font-size: 5em;
    }
}

#services-content {
    width: 70%;
    margin-bottom: 10%;

    span {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    span:first-child {
        border-right: 5px solid $font-base;
        border-radius: 5px;
    }

    span:last-child {
        border-left: 5px solid $font-base;
        border-radius: 5px;
    }

    span {

        img{
            width: 50%;
            height: 50%;
        }

        h1{
            width: 100%;
            margin-top: 5%;
        }

        p{
            width: 60%;
            margin-top: 5%;
            font-size: 120%;
        }
    }
}
